<!--Start Carousel-->
<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">

    <!-- R Consulting -->
    <div class="item active">
      <a href="/consulting/" rel="nofollow"><img src="/img/featured/5.jpg" alt="R Consulting"></a>
      <div class="carousel-caption">
        <p class="lead">R Consulting - Transforming Data Into Insights Through the Power of R &raquo;</p>
      </div> <!-- carousel-caption -->
    </div> <!-- item active -->
  
    <!-- R Solutions -->
    <div class="item">
      <a href="/solutions/" rel="nofollow"><img src="/img/featured/3.jpg" alt="R Solutions"></a>
      <div class="carousel-caption">
        <p class="lead">R Solutions - Development, Deployment and Maintenance of Customized Turn-Key R Programming Solutions &raquo;</p>
      </div> <!-- carousel-caption -->
    </div> <!-- item -->
  </div> <!-- carousel-inner -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev"><img src="/img/arrow.png" alt="Arrow"></a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next"><img src="/img/arrow2.png" alt="Arrow"></a>
</div> <!-- myCarousel -->
<!--End Carousel-->
