<!--  Copied from https://bootsnipp.com/snipps/company-footer -->
<hr>
<div class="footer-well">	
  <div class="container">
    <div class="row">
      <div class="span6">
        <a href="{{ site.url}}"><img src="{{ site.url }}/img/logo.png" width=400></a>
        <p>
          <small>Transforming Data Into Insights Through the Power of R.</small>
        </p>
      </div> <!-- span4 -->

      <div class="span3">
        <p>
        <a href="https://twitter.com/MPKAnalytics"><img src="/img/social-media/twitter.png" alt="Twitter"></a>
        <a href="https://github.com/MPKAnalytics"><img src="/img/social-media/github.png" alt="GitHub"</a>
        <a href="https://www.facebook.com/MPKAnalytics"><img src="/img/social-media/facebook.png" alt="Facebook"</a>
        <a href="https://www.linkedin.com/company/mpk-analytics"><img src="/img/social-media/linkedin.png" alt="LinkedIn"</a>
        <a href="https://plus.google.com/u/0/b/100929512605522684422/"><img src="/img/social-media/googleplus.png" alt="Google+"</a>
        </p>
      </div> <!-- span4 -->

      <div class="span3">
        {% include newsletter_signup.html %}
      </div> <!-- span4 -->
    </div> <!-- row -->
    
    <div class="row">
      <div class="span6">
        <p>
        <small>
        Except where otherwise noted, content on this site is licensed under the <a href="http://creativecommons.org/licenses/by/2.0/">CC-BY license</a>.
        </small>
        </p>
      </div>
    </div>
  </div> <!-- container -->
</div> <!-- footer-well -->
    

