<!-- ALERTS -->
<div class="alert">
  Excuse the dust - these pages are under construction!
</div>

<!-- Navigation bar -->
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
	<div class="container">
	  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </a>
	  
	  <img src="{{ site.url }}/img/logo.png">

<!-- <a class="brand" href="index.html"><span class="color-highlight">MPK</span> Analytics</a> -->

	  <div class="nav-collapse">
		<ul class="nav pull-right">
		  <li class="active"><a href="index.html"><b>Home</b></a></li>
		  <li><a href="services.html"><b>Services</b></a></li>
		  <li><a href="portfolio.html"><b>Portfolio</b></a></li>
		  <li><a href="contact.html"><b>Contact</b></a></li>
		  <li><a href="about.html"><b>About MPK Analytics</b></a></li>
		</ul>
	  </div><!--/.nav-collapse -->
	</div>
  </div>
</div>
    
