<div class="navigation-wrapper">
	<nav role="navigation" id="site-nav" class="animated fadeInDown" itemscope itemtype="http://schema.org/SiteNavigationElement">
	    <ul>
	        {% for link in site.links %}
			<li><a href="{% if link.external %}{{ link.url }}{% else %}{{ site.url }}{{ link.url }}{% endif %}" {% if link.external %}target="_blank"{% endif %}><b>{{ link.title }}</b></a></li>
	        {% endfor %}
	        <li><i class="icon-rss"></i> <a href="{{ site.url }}/feed.xml" title="Atom/RSS feed">Feed</a>
	    </ul>
	</nav>
</div><!-- /.navigation-wrapper -->

