<!-- Google + -->
<div class="g-page" data-width="273" data-href="//plus.google.com/100929512605522684422" data-theme="dark" data-layout="landscape" data-rel="publisher"></div>

<!-- Place this tag after the last widget tag. -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>

<!-- Place this tag after the last widget tag. -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>

<!-- Twitter -->
<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://mpkanalytics.com" data-text="Transforming Data Into Insights Through the Power of R" data-via="mpkanalytics" data-related="mpkanalytics" data-hashtags="mpkanalytics">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<a href="https://twitter.com/MPKAnalytics" class="twitter-follow-button" data-show-count="true" data-dnt="true">Follow @MPKAnalytics</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<!-- FB -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-follow" data-href="https://www.facebook.com/mpkanalytics" data-layout="button_count" data-show-faces="false" data-width="450"></div>

<!-- LinkedIn -->
<script src="//platform.linkedin.com/in.js" type="text/javascript">
 lang: en_US
</script>
<script type="IN/FollowCompany" data-id="2602274" data-counter="right"></script>

<!-- GitHub -->
<iframe src="http://ghbtns.com/github-btn.html?user=mpkanalytics&type=follow"
  allowtransparency="true" frameborder="0" scrolling="0" width="150" height="20"></iframe>