<!DOCTYPE html>
<html lang="en">
  <head>
  {% include head.html %}
  </head>

  <body>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="{{ site.url }}/assets/js/bootstrap.min.js"></script>
  
    {% include navigation.html %}
    
	<div class="container">
	<!--Start Carousel-->
          <div id="myCarousel" class="carousel slide">
            <div class="carousel-inner">
            
              <!-- R Consulting -->
              <div class="item active">
                <a href="{{ site.url }}/consulting.html" rel="nofollow"><img src="{{ site.url }}/img/featured/1.jpg" alt=""></a>
                <div class="carousel-caption">
                  <h4>R Consulting</h4>
                  <p>Help clients gain fast and cost-effective insight into their data using cutting edge technology</p>
                </div>
              </div>
              
              <!-- R Solutions -->
              <div class="item">
                <a href="{{ site.url }}/solutions.html" rel="nofollow"><img src="{{ site.url }}/img/featured/2.jpg" alt=""></a>
                <div class="carousel-caption">
                  <h4>R Solutions</h4>
                  <p>Development, deployment and maintenance of customized turn-key R programming solutions</p>
                </div>
              </div>
              
              <!-- Third feature image -->
              <div class="item">
                <a href="{{ site.url }}/solutions.html" rel="nofollow"><img src="{{ site.url }}/img/featured/3.jpg" alt=""></a>
                <div class="carousel-caption">
                  <h4>R Solutions</h4>
                  <p>Development, deployment and maintenance of customized turn-key R programming solutions</p>
                </div>
              </div>

              <!-- Fourth feature image -->
              <div class="item">
                <a href="{{ site.url }}/solutions.html" rel="nofollow"><img src="{{ site.url }}/img/featured/4.jpg" alt=""></a>
                <div class="carousel-caption">
                  <h4>R Solutions</h4>
                  <p>Development, deployment and maintenance of customized turn-key R programming solutions</p>
                </div>
              </div>

              
            </div>            
            <a class="left carousel-control" href="#myCarousel" data-slide="prev"><img src="{{ site.url }}/img/arrow.png" alt="Arrow"></a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next"><img src="{{ site.url }}/img/arrow2.png" alt="Arrow"></a>
          </div>
	<!--End Carousel-->
	
	<!-- Start social media links -->
	<div class="span5 offset4">
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=112989545392380";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
		<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://mpkanalytics.com" data-text="Transforming Data Into Insights Through the Power of R" data-via="mpkanalytics" data-related="mpkanalytics" data-hashtags="mpkanalytics">Tweet</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		<a href="https://twitter.com/MPKAnalytics" class="twitter-follow-button" data-show-count="true" data-dnt="true">Follow @MPKAnalytics</a>
		<div class="fb-like" data-href="http://mpkanalytics.com" data-send="false" data-layout="button_count" data-width="90" data-show-faces="false" data-font="arial"></div>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	</div>
	<!-- End social media links -->
	
	<hr>
	{{ content }}
	{% include footer.html %}
    </div><!-- /container -->
    {% include scripts.html %}
  </body>
</html>
