<!DOCTYPE html>
<html lang="en">
  <head>
  {% include head.html %}
  </head>

  <body>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="{{ site.url }}/assets/js/bootstrap.min.js"></script>
  
    {% include navigation.html %}
    
	<div class="container">
	<!--Start Carousel-->
          <div id="myCarousel" class="carousel slide">
            <div class="carousel-inner">
            
              <!-- R Consulting -->
              <div class="item active">
                <a href="{{ site.url }}/consulting.html" rel="nofollow"><img src="{{ site.url }}/img/featured/5.jpg" alt=""></a>
                <div class="carousel-caption">
                  <p class="lead"><strong>R Consulting - Transforming Data Into Insights Through the Power of R &raquo;</strong></p>
                </div>
              </div>
              
              <!-- R Solutions -->
              <div class="item">
                <a href="{{ site.url }}/solutions.html" rel="nofollow"><img src="{{ site.url }}/img/featured/3.jpg" alt=""></a>
                <div class="carousel-caption">
                <p class="lead"><strong>R Solutions - Development, Deployment and Maintenance of Customized Turn-Key R Programming Solutions &raquo;</strong></p>
                </div>
              </div>
              
            </div>            
            <a class="left carousel-control" href="#myCarousel" data-slide="prev"><img src="{{ site.url }}/img/arrow.png" alt="Arrow"></a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next"><img src="{{ site.url }}/img/arrow2.png" alt="Arrow"></a>
          </div>
	<!--End Carousel-->
	
	<hr>
	{{ content }}
	{% include footer.html %}
    </div><!-- /container -->
    {% include scripts.html %}
  </body>
</html>
