<!DOCTYPE html>
<html lang="en">
  <head>
  {% include head.html %}
  </head>

  <body>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="{{ site.url }}/assets/js/bootstrap.min.js"></script>
  
    {% include navigation.html %}
    
	<div class="container">
	<!--Start Carousel-->
          <div id="myCarousel" class="carousel slide">
            <div class="carousel-inner">
            
              <!-- R Consulting -->
              <div class="item active">
                <a href="{{ site.url }}/consulting.html" rel="nofollow"><img src="{{ site.url }}/img/featured/1.jpg" alt=""></a>
                <div class="carousel-caption">
                  <h4>R Consulting</h4>
                  <p>Help clients gain fast and cost-effective insight into their data using cutting edge technology</p>
                </div>
              </div>
              
              <!-- R Solutions -->
              <div class="item">
                <a href="{{ site.url }}/solutions.html" rel="nofollow"><img src="{{ site.url }}/img/featured/2.jpg" alt=""></a>
                <div class="carousel-caption">
                  <h4>R Solutions</h4>
                  <p>Development, deployment and maintenance of customized turn-key R programming solutions</p>
                </div>
              </div>
              
              <!-- Third feature image -->
              <div class="item">
                <a href="{{ site.url }}/solutions.html" rel="nofollow"><img src="{{ site.url }}/img/featured/3.jpg" alt=""></a>
                <div class="carousel-caption">
                  <h4>R Solutions</h4>
                  <p>Development, deployment and maintenance of customized turn-key R programming solutions</p>
                </div>
              </div>

              <!-- Fourth feature image -->
              <div class="item">
                <img src="{{ site.url }}/img/featured/5.jpg" alt="">
                <div class="carousel-caption">
                  <h4>R Solutions</h4>
                  <p>Development, deployment and maintenance of customized turn-key R programming solutions</p>
                </div>
              </div>
              
            </div>            
            <a class="left carousel-control" href="#myCarousel" data-slide="prev"><img src="{{ site.url }}/img/arrow.png" alt="Arrow"></a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next"><img src="{{ site.url }}/img/arrow2.png" alt="Arrow"></a>
          </div>
	<!--End Carousel-->
	
{% include social_media.html %}
	
	<hr>
	{{ content }}
	{% include footer.html %}
    </div><!-- /container -->
    {% include scripts.html %}
  </body>
</html>
