<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include head.html %}
</head>

<body id="post" itemscope itemtype="http://schema.org/WebPage">

{% include browser-upgrade.html %}
{% include navigation.html %}

<header class="masthead">
	<div class="wrap">
		<h1 class="site-title animated fadeIn"><a href="{{ site.url }}">{{ page.title }}</a></h1>
		<h2 class="site-description animated fadeIn">{{ page.description }}</h2>
	</div>
</header><!-- /.masthead -->
<p>



</hr>
<div id="main" role="main" itemprop="mainContentOfPage" itemscope itemtype="http://schema.org/Blog">
  <article class="hentry" itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogpost">
    {% if page.image.feature %}<img src="{{ site.url }}/images/{{ page.image.feature }}" class="entry-feature-image" alt="{{ page.title }}">{% endif %}
    <div class="entry-wrapper">
      <footer class="entry-meta">
        {% if page.image.smallfeature %}<img src="{{ site.url }}/images/{{ page.image.smallfeature }}" alt="R Consulting" class="author-photo">{% endif %}
      </footer>
      <div class="entry-content">
        {{ content }}
      </div><!-- /.entry-content -->
    </div><!-- /.entry-wrapper -->
  </article>
</div><!-- /#main -->

<div class="footer-wrapper">
  <footer role="contentinfo">
    {% include footer.html %}
  </footer>
</div><!-- /.footer-wrapper -->

{% include scripts.html %}	        

</body>
</html>
