<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body>
    {% include navigation.html %}
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="{{ site.url }}/assets/js/bootstrap.min.js"></script>
    {% include navigation.html %}
    
    <header>
      <div class="container">
        <img src="{{ site.url }}/img/{{ page.image.feature }}" class="img-circle">
      </div>
    </header>
    
    <div class="container">
      <div class="row">
        <div class="span12">
          <div class="well">
            {{ content }}
          </div> <!-- well -->
        </div> <!-- span12 -->
      </div> <!-- row -->	 
    </div><!-- /container -->
    {% include footer.html %}
    {% include scripts.html %}
  </body>
</html>
