<!DOCTYPE html>
<html lang="en">
  <head>
  {% include head.html %}
  </head>

  <body>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="{{ site.url }}/assets/js/bootstrap.min.js"></script>
    {% include navigation.html %}
    
	<div class="container">
	<div class="row">
      <div class="span8">
	    <div class="well">
	      <h1>{{ page.title }}</h1>
	      <hr>
		  {{ content }}
		</div> 
      </div>
	  <div class="span4">
	    <div class="well">
	      <h1>Recent Blog Posts</h1>
	      <hr>
	      {% for post in site.posts limit:10 %} 
		    <ul class="post-list">
		      <li><p class="lead"><a href="{{ site.url }}{{ post.url }}">{{ post.title }} (<span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time></span>)</a><br>{{ post.description }}</p></li>
		    </ul>
	      {% endfor %}
        </div> <!-- well -->	
	    <div class="well">
	      <h1>Recent Tweets</h1>
	      <hr>
		    <a class="twitter-timeline" href="https://twitter.com/MPKAnalytics" data-widget-id="357598832068030464" data-chrome="noheader nofooter noborders transparent">Tweets by @MPKAnalytics</a>
	      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	    </div> <!-- well -->
	  </div> <!-- span4 -->
    </div> <!-- row -->	 
    {% include footer.html %}
    </div><!-- /container -->
  {% include scripts.html %}
  </body>
</html>
