<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body>
    {% include navigation.html %}
    
    <header>
      <div class="container">
        <img src="/img/{{ page.image.feature }}">
      </div>
    </header>
    
    <div class="container">
      <div class="row">
        <div class="span12">
          <div>
            {{ content }}
          </div> <!-- well -->
        </div> <!-- span12 -->
      </div> <!-- row -->	 
    </div><!-- /container -->
    {% include footer.html %}
    {% include scripts.html %}
  </body>
</html>
