<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="{{ site.url }}/assets/js/bootstrap.min.js"></script>
    {% include navigation.html %}
    
    <header>
      <div class="container">
        <img src="{{ site.url }}/img/post_images/image1.jpg" class="img-circle">
      </div>
    </header>
     
    <div class="container">
      <div class="row">
        <div class="span8">
          <div class="well">
            <h1> MPK Analytics Blog</h1>
            <hr>
            {% for post in site.posts %}  
              <article>
               <img src="/img/{{ post.image.feature }}">
                <h3><a href="{{ site.url }}{{ post.url }}" rel="bookmark" title="{{ post.title }}">{{ post.title }}</a></h3>
                <div class="muted">
                  <em>Published on {{ post.date | date: "%B %d, %Y" }}; </em>
                  {% if site.disqus_shortname and post.comments %}
                    <em><a href="{{ site.url }}{{ post.url }}/#disqus_thread">Number of comments:</a></em>
                  {% endif %}
                </div> <!-- muted -->
                <div class="lead">
                    {{ post.description }}
                </div>
              </article>
            {% endfor %}
          </div> <!-- well -->
        </div> <!-- span8 -->

        <div class="span4">
          <div class="well">
            <h1>About this blog</h1>
            <hr>
            <div class="lead">
              {% include about_blog.html %}
            </div>
          </div> <!-- well -->
          <div class="well">
            <h1>Blog License</h1>
            <hr>
            <div class="lead">
              {% include blog_license.html %}
            </div>
          </div> <!-- well -->
        </div> <!-- span4 -->
      </div> <!-- row -->
    </div><!-- /container -->
    {% include footer.html %}
    {% include scripts.html %}
  </body>
</html>

